<header>
  <div class="logo-mobile"><img src='../images/logo-100.png' class="logo-mobile" /></div>
  <nav>
    <ul>
      <li><a href="../">Home</a></li>
      <li><a href="../available">Best Available</a></li>
      <li><a href="../steal">Steal Draft</a></li>
      <li><a href="../rookies">Rookie</a></li>
      <li><a href="../keepers">Keepers</a></li>
      <li><a href="../player-list">Overall List</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Teams</a>
        <div class="dropdown-content">
          <a href="../teams/Adam Staryak">Adam Staryak</a>
          <a href="../teams/Brendan Shea">Brendan Shea</a>
          <a href="../teams/Brian Selitto">Brian Selitto</a>
          <a href="../teams/Jim Harris">Jim Harris</a>
          <a href="../teams/Jack Holtgreive">Jack Holtgreive</a>
          <a href="../teams/Kevin McClure">Kevin McClure</a>
          <a href="../teams/Kevin Pulsifer">Kevin Pulsifer</a>
          <a href="../teams/Kyle Stephan">Kyle Stephan</a>
          <a href="../teams/Shawn Plesnick">Shawn Plesnick</a>
          <a href="../teams/Zack Omalley">Zack O'Malley</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Power Rankings</a>
        <div class="dropdown-content">
          <a href="../power-rankings/0">Preseason</a>
          <a href="../power-rankings/1">Week 1</a>
        </div>
    </ul>
  </nav>
  <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <ul class="mobile-menu">
      <li><a href="../">Home</a></li>
      <li><a href="../available">Best Available</a></li>
      <li><a href="../steal">Steal Draft</a></li>
      <li><a href="../rookies">Rookie</a></li>
      <li><a href="../keepers">Keepers</a></li>
      <li><a href="../player-list">Overall List</a></li>
      <li><a href="../teams/Adam Staryak">Adam Staryak</a></h3>
      <li><a href="../teams/Brendan Shea">Brendan Shea</a></h3>
      <li><a href="../teams/Brian Selitto">Brian Selitto</a></h3>
      <li><a href="../teams/Jim Harris">Jim Harris</a></h3>
      <li><a href="../teams/Jack Holtgreive">Jack Holtgreive</a></h3>
      <li><a href="../teams/Kevin McClure">Kevin McClure</a></h3>
      <li><a href="../teams/Kevin Pulsifer">Kevin Pulsifer</a></h3>
      <li><a href="../teams/Kyle Stephan">Kyle Stephan</a></h3>
      <li><a href="../teams/Shawn Plesnick">Shawn Plesnick</a></h3>
      <li><a href="../teams/Zack Omalley">Zack O'Malley</a></h3>
      <li><a href="../power-rankings/0">Preseason</li></a>
      <li><a href="../power-rankings/1">Week 1</li></a>
  </div>
</header>
<script src="../javascripts/script.js"></script>