<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Area</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('includes/logo'); %>
    <%- include('includes/navigation'); %>
      <div class="table-data">
        <h2>Rookie Status Updated</h2>
        <h2>Back to <a href='../admin'>admin</a></h2>
      </div>
      <%- include('includes/footer'); %>
</body>

</html>