<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova 2022 Fantasy Draft</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('includes/logo'); %>
    <%- include('includes/navigation'); %>
  <div class="content">
    <h1>Welcome to Nova Dyanasty 2022 Draft</h1>
    <h2>Teams</h2>
    <h3><a href="/teams/Adam Staryak">Adam Staryak</a></h3>
    <h3><a href="/teams/Brendan Shea">Brendan Shea</a></h3>
    <h3><a href="/teams/Brian Selitto">Brian Selitto</a></h3>
    <h3><a href="/teams/Jim Harris">Jim Harris</a></h3>
    <h3><a href="/teams/Jack Holtgreive">Jack Holtgreive</a></h3>
    <h3><a href="/teams/Kevin McClure">Kevin McClure</a></h3>
    <h3><a href="/teams/Kevin Pulsifer">Kevin Pulsifer</a></h3>
    <h3><a href="/teams/Kyle Stephan">Kyle Stephan</a></h3>
    <h3><a href="/teams/Shawn Plesnick">Shawn Plesnick</a></h3>
    <h3><a href="/teams/Zack Omalley">Zack O'Malley</a></h3>


    <h2>Draft Boards</h2>
    <h3><a href="/steal">Best Availble - Steal</a></h3>
    <h3><a href="/available">Best Available</a></h3>
    <h3><a href="/player-list">Overall List</a></h3>
  </div>
  <%- include('includes/footer'); %>
  </body>
</html>
