<!DOCTYPE html>
<html lang="en">
<head>
  <title>Claire's Weight</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="apple-touch-icon" href="images/claire-iphone-icon.png"/>
</head>
<body>
    <% include ./includes/claire-navigation %>
    <div class="table-data">
<h2>Claire's Weight Chart</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Pounds</th>
            <th>Ounces</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.date; %></td>
            <td><%=data.pounds %></td>
            <td><%=data.ounces %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="6">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>